/* Add this to your global CSS or a specific CSS file */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    flex: 1;
    /* Makes this section take up the remaining space */
}